html {
    color: #222;
    font-size: 1em;
    font-family: "john-doe", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    background-color: #FBAB7E;
    }

body {
    margin: 20px;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 73px 73px 73px;
    grid-gap: 20px;
    background-color: #fff;
    color: #444;
  }
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }

  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;

  }
  
  header.primary{ 
grid-column-start: 2;
grid-column-end: 12;
grid-row-start:1;
grid-row-end:4;
  }

  main{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 4;
  }
#content {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 6;
}

  footer {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 10;
    grid-row-end: 11;
  }

  
